@{
    ViewBag.Title = "Bloghost";
}

<div id="header-imgs">
	<div class="tile red-box"></div>
	<div class="tile purple-box"></div>
	<div class="tile orange-box"></div>
	<div class="tile green-box"></div>
</div>
